node_modules/

dist/
dist-ssr/
target/

logs/
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

**/*.rs.bk

src-tauri/gen/schemas

*.local
*.tsbuildinfo
